

#display {
    margin-top: 50px;
    border:  seagreen;
    border-style: solid;
    border-width: 2px;
    background-color: royalblue;
    height: 400px;
}

#searchCities {
    margin-top: 50px;
    border: red;
    border-style: solid;
    border-width: 2px;
}

#btn1 {
    width: auto;
    height: auto;
}

.cell {
    width: 120px;
}

.card {
    visibility: hidden;
}